*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* CLASSI COLORI */

.aqua{
    background-color: #ADD8E6;
}

.yellow{
    background-color: #DAA520;
}

.blue{
    background-color: #00008B;
}

.pink{
    background-color: #EE82EE;
}

.lightblue{
    background-color: #1E90FF;
}

.lightpink{
    background-color: #FFC0CB;
}

.pink2{
    background-color: #F08080;
}

.grey{
    background-color: #D3D3D3;
}

.black{
    background-color: #23272A;
}

.green{
    background-color: #228B22;
}

.lightgreen{
    background-color: #20B2AA;
}

.lightgreen2{
    background-color: #7FFFD4;
}

.white{
    background-color: white;
}

.pink3{
    background-color: #FFB6C1;
}

/* HEADER */

.header-top{
    display: flex;
    padding:8px;
    width: 75%;
    margin: auto;
}

.header-bottom{    
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-bottom-container{
    width: 50%;
    min-height: 230px;
    margin:30px;    
}

.header-top > *, .header-bottom > *, section > *{
    border: 1px dashed black;
    padding: 5px 10px;
}

.logo, .login{
    width: 25%;
}

.login{
    text-align: right;
}

.link{
    width: 50%;
    text-align: center;
}

.first-row, .second-row, .third-row, .four-row{
    /* min-height: 800px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 50px 0; */
}

.col1{
    width: 45%;
    min-height: 500px;
    margin:50px 0;
}

.col2{
    width: 30%;
    min-height: 500px;
}

.col3{
    width: 75%;
    min-height: 800px;
    margin:50px;
}

.footcol1, .footcol > *{
    border: 1px dashed black;
}

.footer-top{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;
    width: 100%;
    padding: 15px 0;
}


.footcol{
    display: flex;
    width: 50%;

}

.footcol1{
    min-height: 300px;
    width:25%;

}

.footcol > *{
    min-height: 300px;
    width: 25%;
}

.footer-bottom{
    display: flex;
    justify-content: center;
    padding: 25px 0;
}

.footer-bottom > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    width: 75%;
}

.footer-bottom > div > div{
    padding: 5px;
    border: 1px dashed black;
}